
<% if @team.photo.present? %>
<%= image_tag(@team.photo_url) %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= team.description %>
</p>

<% if current_student.admin && current_student.team_id == @team.id %>
<p>
  <strong>Password:</strong>
  <td><%= team.password %></td>
</p>
<% end %>

<h3>Tools</h3>
<% if !team.tools.empty? %>
  <table>
    <tr>
      <% if @student.photo.present? %>
      <th></th>
      <% end %>
      <th>Name</th>
      <th>Quantity</th>
      <th>Description</th>
    </tr>
  <% team.tools.each do |tool| %>
    <tr>
      <% if tool.photo.present? %>
      <td><%= image_tag(tool.photo().url)%></td>
      <% end %>
      <td><%= link_to tool.name, tool_path(id: tool.id) %></td>
      <td><%= tool.quantity %></td>
      <td><%= tool.description %></td>
      <td><%= link_to 'Show', tool %></td>
      <% if edit  %>
        <td><%= link_to 'Edit', tool, method: :edit %></td>
        <td><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure you want to delete this tool?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% else %>
  <p><%= team.name %> hasn't registered any tools yet.</p>
<% end %>


<h3>Members</h3>
<% if !team.students.empty? %>
  <table>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  <% team.students.each do |student| %>
    <tr>
      <% if student.photo.present? %>
      <td><%= image_tag(student.photo().url)%></td>
      <% end %>
      <td><%= link_to student.name, student_path(id: student.id) %></td>
      <td><%= student.email %></td>
      <% if edit %>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% else %>
  <p><%= team.name %> is full of nothing!.</p>
<% end %>
