<p id="notice"><%= notice %></p>

<%= image_tag(@team.photo_url) %>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<% if @student.admin %>
  <%= link_to 'Add New Tool', new_tool_path %> |
  <%= link_to 'Edit', edit_team_path(@team) %> |
<% end %>
<%= link_to 'Back', teams_path %>
