<p id="notice"><%= notice %></p>

<% if @tool.photo.present? %>
<%= image_tag(@tool.photo_url) %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tool.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @tool.quantity %>
</p>


<p>
  <strong>Disponível?</strong>
  <% if Tool.available?(@tool) %>
  Sim
  <% else %>
  Não
  <% end %>
</p>

<p>
  <strong>Team:</strong>
  <%= @tool.team.name %>
</p>

<% if Tool.available?(@tool) %>
  <%= link_to 'Pegar Emprestado', new_tool_loan_path(@tool) %> |
<% end %>
<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', :back(@tool) %>
