<p id="notice"><%= notice %></p>

<% if @tool.photo.present? %>
<%= image_tag(@tool.photo_url) %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tool.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @tool.quantity %>
</p>


<p>
  <strong>Disponível?</strong>
  <% if Tool.available?(@tool) %>
  Sim
  <% else %>
  Não
  <% end %>
</p>

<p>
<table>
  <thead>
    <tr>
			<th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><strong>Team:</strong></td>
        <td><%= link_to @tool.team.name, team_path(@tool.team_id) %></td>
      </tr>
  </tbody>
</table>
</p>

<p>
<% if Tool.available?(@tool) && @tool.team != @student.team %>
  <%= link_to 'Pegar Emprestado', new_tool_loan_path(@tool) %>
<% end %>


<% if @tool.team == @student.team && @student.admin%>
  <%= link_to 'Edit', edit_tool_path(@tool) %>
<%end%>
<%= link_to 'Back', :back %>
</p>
