<p id="notice"><%= notice %></p>

<%= image_tag(@tool.photo_url) %>

<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tool.description %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @tool.quantity %>
</p>

<p>
  <strong>Team:</strong>
  <%= @tool.team.name %>
</p>

<%= link_to 'Pegar Emprestado', new_tool_loan_path(@tool) %> |
<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
