<table>
  <thead>
    <tr>
      <!--<th>Accepted</th>-->
      <!--<th>Returned</th>-->
      <th>Borrower</th>
      <th>Owner</th>
      <th>Tool</th>
      <th>Tool quantity</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% loans.each do |loan| %>
    <% @tool = Tool.find(loan.tool_id) %>
      <tr>
        <!--<td><%= loan.accepted %></td>%>-->
        <!--<td><%= loan.returned %></td>-->
        <% @borrower=Student.find(loan.borrower_id) %>
        <td><%= link_to @borrower.name, student_path(@borrower) %></td>
        
        <% if loan.accepted%>
        <% @owner=Student.find(loan.owner_id) %>
        <td><%= link_to @owner.name, student_path(@owner) %></td>
        <% else %>
        <td>Not yet approved.</td>
        <% end %>
        <td><%= link_to Tool.find(loan.tool_id).name, Tool.find(loan.tool_id) %></td>
        <td><%= loan.tool_quantity %></td>
        <td><%= loan.start %></td>
        <td><%= loan.end %></td>
        <td><%= link_to 'Show', [@tool,loan] %></td>
        <% if pending %>
          <td><%= link_to 'Edit', edit_tool_loan_path(@tool,loan) %></td>
          <td><%= link_to 'Recusar', [@tool,loan], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Aceitar', tool_loan_path(@tool, loan, :accepted => true, :start => Date.today, :owner_id => student.id), method: :put %></td>
        <% end %>
        <% if approved %>
          <td><%= link_to 'Devolvida', tool_loan_path(@tool, loan, :returned => true), method: :put %></td>
          <td><%= link_to 'Não devolvida', tool_loan_path(@tool, loan, :returned => false), method: :put %></td>
        <% end %>
        <% if rate %>
          <td><%#=AVALIAR MEMBRO link_to 'Devolvida', tool_loan_path(@tool, loan, :returned => true), method: :put %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

</br>
