<p id="notice"><%= notice %></p>

<%= image_tag(@student.photo_url) %>

<p>
  <strong>Given name:</strong>
  <%= @student.given_name %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @student.family_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Team:</strong>
  <%= @student.team.name %>
</p>

<p>
  <strong>Qualificação:</strong>
  <% if @student.admin %>
    Administrador
  <% else %>
    Membro
  <% end %>
</p>
<table>
  <thead>
    <tr>
      <th>Accepted</th>
      <th>Returned</th>
      <th>Borrower</th>
      <th>Owner</th>
      <th>Tool quantity</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pending_loans.each do |loan| %>
    <% @tool = Tool.find(loan.tool_id) %>
      <tr>
        <td><%= loan.accepted %></td>
        <td><%= loan.returned %></td>
        <td><%= loan.borrower_id %></td>
        <td><%= loan.owner_id %></td>
        <td><%= loan.tool_quantity %></td>
        <td><%= loan.start %></td>
        <td><%= loan.end %></td>
        <td><%= link_to 'Show', [@tool,loan] %></td>
        <% if true %>
          <td><%= link_to 'Edit', edit_tool_loan_path(@tool,loan) %></td>
          <td><%= link_to 'Recusar', [@tool,loan], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Aceitar', tool_loan_path(@tool, loan, :accepted => true, :start => Date.today), method: :put %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: 'loans', locals: {loans: @pending_loans, pending: true} %>
<%= render partial: 'loans', locals: {loans: @pending_loans, pending: false} %>
<%= render partial: 'loans', locals: {loans: @pending_loans, pending: false} %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
