<p id="notice"><%= notice %></p>

<% if @student.photo.present? %>
  <%= image_tag(@student.photo_url) %>
<% end %>

<p>
  <strong>Given name:</strong>
  <%= @student.given_name %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @student.family_name %>
</p>

<table>
  <td></td>
  <td></td>
<p>

  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
<table>
  <thead>
    <tr>
			<th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><strong>Team:</strong></td>
        <td><%= link_to @student.team.name, team_path(@student.team_id) %></td>
      </tr>
  </tbody>
</table>
</p>

<p>
  <strong>Qualificação:</strong>
  <% if @student.admin %>
    Administrador
  <% else %>
    Membro
  <% end %>

</p>

Empréstimos concedidos em aberto:
<%= render partial: 'loans', locals: {student: @student, loans: @student_approved_loans, pending: false, approved: true, rate: false} %>

Empréstimos concedidos finalizados:
<%= render partial: 'loans', locals: {student: @student, loans: @finished_loans, pending: false, approved: false, rate: true} %>

<% if session[:student_id]==@student.id %>
  <%= link_to 'Edit', edit_student_path(@student) %>
<% end %>

<%= link_to 'Back', :back %>
