<p id="notice"><%= notice %></p>

<%= image_tag(@student.photo_url) %>

<p>
  <strong>Given name:</strong>
  <%= @student.given_name %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @student.family_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Team:</strong>
  <%= @student.team.name %>
</p>

<p>
  <strong>Qualificação:</strong>
  <% if @student.admin %>
    Administrador
  <% else %>
    Membro
  <% end %>
</p>

Empréstimos aguardando aprovação:
<%= render partial: 'loans', locals: {student: @student, loans: @pending_loans, pending: true} %>

Empréstimos pedidos:
<%= render partial: 'loans', locals: {student: @student, loans: @student_asked_loans, pending: false} %>

Empréstimos concedidos:
<%= render partial: 'loans', locals: {student: @student, loans: @student_approved_loans, pending: false} %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
