<%= form_for([@tool, loan]) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :accepted %>
    <%= form.check_box :accepted, id: :loan_accepted %>
  </div>

  <div class="field">
    <%= form.label :returned %>
    <%= form.check_box :returned, id: :loan_returned %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.number_field :owner_id, id: :loan_owner_id %>
  </div>

  <div class="field">
    <%= form.label :tool_quantity %>
    <%= form.number_field :tool_quantity, id: :loan_tool_quantity %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.date_select :start, id: :loan_start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.date_select :end, id: :loan_end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
