<p id="notice"><%= notice %></p>

<p>
  <strong>Accepted:</strong>
  <% if @loan.accepted %>
    Yes.
  <% else %>
    No.
  <% end %>
  </p>

<% if @loan.returned != nil %>
<p>
  <strong>Returned:</strong>
  <% if @loan.returned %>
    Yes.
  <% else %>
    No.
  <% end %>
</p>
<% end %>

<p>
  <strong>Borrower:</strong>
  <%= Student.find(@loan.borrower_id).name %>
</p>

<% if @loan.owner_id != nil %>
<p>
  <strong>Owner:</strong>
  <%= Student.find(@loan.owner_id).name %>
</p>
<% end %>

<p>
  <strong>Tool quantity:</strong>
  <%= @loan.tool_quantity %>
</p>

<p>
  <strong>Start:</strong>
  <%= @loan.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @loan.end %>
</p>

<% if @loan.owner_id != nil %>
<% if session[:student_id] == @loan.owner_id %>
<%= link_to 'Edit', edit_tool_loan_path(@loan.tool_id, @loan) %>
<% end %>
<% end %>
<%= link_to 'Back', :back %>
