<div class='topnav'>

	<% if current_student %>
		<%= active_link_to "Home", home_path, class: 'button' %>
		<%= active_link_to "Search Tools", tools_path, class: 'button', active: :exclusive %>
		<%= active_link_to "Search Students", students_path, active: :exclusive %>
		<%= active_link_to "Search Teams", teams_path, active: :exclusive %>
		<%= active_link_to "My Team", team_path(current_student.team_id) %>
		<%= active_link_to "My Profile", current_student %>
		<div class='topnav-right'>
			<div class='log'>
				Logged in as <%= current_student.email %>.
			</div>
			<%= link_to "Log Out", logout_path %>
		</div>

	<% else %>
	<%= active_link_to 'Sign Up as Member', new_student_path %>
	<%= active_link_to 'Sign Up as Team Admin', new_team_path %>
	<%= active_link_to "Log In", new_session_path %>
	<% end %>
</div>
