<p>

	<% if current_student %>
		<%= link_to "Team", teams_path %>
		<%= link_to "Profile", current_student_path %>
		Logged in as <%= current_student.email %>.
		<%= link_to "Log Out", logout_path %> |

	<% else %>
	<%= link_to 'Sign Up', new_student_path %> |
	<%= link_to "Log In", new_session_path %>
	<% end %>
</p>

<hr>
